.idea

# "mu-plugins", "plugins", "themes" directory
/*
mu-plugins/*
plugins/*
themes/*

# ignore specific themes
wp-content/themes/twenty*/

# ignore node dependency directories
node_modules/

# ignore log files and databases
*.log
*.sql
*.sqlite
